* {
  padding: 0;
  margin: 0;
}
html {
  background-color: #023;
}
.logo {
  width: 30px;
  cursor: pointer;
}
.container {
  max-width: 500px;
  width: 100%;
  margin: 10px auto 0px auto;
  // border: 1px solid red;
}
.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #000;
  align-items: center;
  color: #dfe;
  font-size: 28px;
  cursor: default;
}
.main {
  max-width: 430px;
  // display: flex;
  // justify-content: space-between;
  margin: 10px auto 40px auto;
  width: 90%;
}
.space {
  width: 40px;
  height: 40px;
  background-color: lighten($color: #023, $amount: 20%);
  border: 1px dotted darken($color: #023, $amount: 40%);
  font-size: xx-large;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  margin: 3px;
  text-align: center;
}

@for $i from 1 through 6 {
  .row-#{$i} {
    display: flex;
    // justify-content: space-between;
    justify-content: center;
    margin-bottom: 3px;
  }
}
@for $i from 1 through 3 {
  .r-#{$i} {
    display: flex;
    // justify-content: space-between;
  }
  .r-#{$i} div {
    // border: 1px solid red;
    background-color: darken($color: #023, $amount: 60%);
    border-radius: 3px;
    color: #dfe;
    // justify-content: space-between;
    cursor: pointer;
    margin: 3px;
    padding: 12px;
  }
}
.r-1 {
  width: fit-content;
  margin: auto;
  // border: 2px solid red;
}
.r-2 {
  width: fit-content;
  margin: auto;
  // border: 2px solid red;
}
.r-3 {
  width: fit-content;

  margin: auto;
}
// .row-1 {
//   display: flex;
//   justify-content: space-between;
// }
// .r-1 {
//   display: flex;
//   justify-content: space-between;
// }
// .row-2 {
//   display: flex;
//   justify-content: space-between;
// }
// .r-2 {
//   display: flex;
//   justify-content: space-between;
// }
// .row-3 {
//   display: flex;
//   justify-content: space-between;
// }
// .r-3 {
//   display: flex;
//   justify-content: space-between;
// }
// .row-4 {
//   display: flex;
//   justify-content: space-between;
// }

// .row-5 {
//   display: flex;
//   justify-content: space-between;
// }

// .row-6 {
//   display: flex;
//   justify-content: space-between;
// }
